body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.container {
    position: absolute;
    left: 35%;
    top: 25%;
    padding: 2vh;
    border: 1px solid #FFFFFF;
}

.col1, .col2, .col3 {
    width: 10vw;
    height: 10vw;
}

.row1, .row2, .row3 {
    display: flex;
}

.row1, .row2 {
    border-bottom: 3px solid #FFFFFF;
}

.col2 {
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

.btnContainer {
    padding: 3vh 0 1vh 0;
    display: flex;
    justify-content: space-between;
}

#startBtn, #resetBtn {
    padding: .5vw;
}

